@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
  top: 0px;
}

main {
  padding: 20px;
  /* overflow: auto; */
  display: flex;
}

nav {
  position: sticky;
  display: flex;
  background-color: #18122b;
  align-items: center;
  justify-content: space-around;
  height: 5em;
  line-height: 5rem;
  top: 0;

  /* box-shadow: 0px 8px 28px 1px rgba(255, 0, 0, 0.75); */
}

.left h1 {
  color: white;
  font-size: 2.5rem;
  bottom: 5px;
  position: relative;
}

.checkBars {
  display: none;
}

#check {
  display: none;
}

.checkBars {
  float: right;
  color: #ed1e79;
  font-size: 30px;
  line-height: 80px;
}

.right ul {
  list-style-type: none;
  gap: 1rem;
  display: flex;
  padding-inline: 1rem;
}

.right ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 10px 20px;
}

.right ul li a:hover {
  border-radius: 7px;
  background-color: white;
  font-weight: bold;
  color: #18122b;
}

@media screen and (max-width: 805px) {
  .li {
    display: flex;
    position: fixed;
    background-color: #18122b;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    top: 4rem;
    left: 100%;
  }

  #check {
    display: none;
  }

  .checkBars {
    display: block;
  }

  #check:checked ~ ul {
    left: 0%;
  }
}

span.text-red {
  color: red;
  font-size: 3rem;
}

.hero {
  display: flex;
  align-items: center;
  padding: 6em;
  background-color: #393053;
  flex-flow: row nowrap;
}

.hero > .hero-text {
  padding-right: 2rem;
  color: white;
}

.hero > .hero-text h1 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.hero > .hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.hero > .image img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  /* max-width: 50rem; */
  object-fit: cover;
  object-position: center;
}

cite a:link,
a:visited {
  color: gray;
  font-size: small;
  text-decoration: none;
}

#content {
  /* float: left;
    width: 75%; */
  flex: 3; /* flex-grow flex-shrink flex-basis */
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 1rem 20px 4rem;
  gap: 2rem 2rem;
}

.float-left-img {
  float: left;
  margin: 10px;
}
.float-right-img {
  float: right;
  margin: 10px;
}

.featured-image {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
  object-position: center;
}

.featured-image-float {
  max-width: 50vw;
  max-height: 40vh;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1197px) {
  #content {
    padding: 0;
  }
}

@media (max-width: 865px) {
  #content {
    padding: 0;
  }

  .left h1 {
    font-size: 2rem;
  }

  .hero {
    flex-direction: column;
    padding: 2em;
  }

  .hero > .hero-text {
    padding-right: 0;
  }

  .hero > .hero-text h1 p {
    font-size: 16px;
  }

  .hero > .image {
    order: -1;
    margin-top: 2rem;
  }
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px; */

  padding: 20px;
  /* border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 46px #d3d3d3, -20px -20px 46px #ededed; */

  border-radius: 28px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;

  /* border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 1px 19px 38px #949494, -19px -19px 38px #ffffff; */

  /* margin-top: 20px; */
}

aside {
  /* float: right;
  width: 25%;
  padding-left: 20px; */
  flex: 1;
  /* display: flex; */
  padding-top: 20px;
  padding-right: 4rem;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
  text-align: left;
  padding: 5px;
}

td a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.text-center {
  text-align: center;
}

.profile img {
  width: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  aside {
    padding-right: 0;
  }
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}

footer {
  padding: 20px;
  color: white;
  background-color: #18122b;
  /* text-align: center; */
  font-weight: bold;
  display: flex;
}

.footer-container {
  display: flex;
  /* border: 5px solid; */
  padding: 10px 6em;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.footer-container div ul {
  margin: 5px;
  list-style-type: none;
}

.f-1 {
  flex: 1;
}
.f-3 {
  flex: 3;
}

.footer-item {
  /* text-align: center; */
  /* display: inline-block; */
  margin: 0px auto;
}

.footer-container .footer-links ul {
  padding: 0;
  margin: 0;
}

.footer-container .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer-container .footer-links ul li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.footer-container .footer-links ul a {
  display: inline-block;
  line-height: 1;
}

.footer-container .footer-links ul a:hover,
a:link,
a:visited {
  color: white;
}

@media screen and (max-width: 768px) {
  .footer-container {
    /* margin: 1px; */
    padding: 10px 20px;
    width: 100%;
    gap: 1rem;
    flex-flow: column;
  }
}
